## An√°lisis de CSV

In [32]:
import pandas as pd
import numpy as np
import re
from collections import Counter
import unicodedata

In [5]:
df = pd.read_csv('final/all_data.csv', delimiter=';', encoding='utf-8-sig')

In [6]:
df.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,00-01-0158-46,01-312,CIUDAD CAPITAL,ZONA 1,COLEGIO TECNICO PROGRESISTA CETECPRO,2A. AVENIDA 3-59,22512759,AMADO SALOMON FLORES PEREZ,IRMA AMPARO TOLEDO HERNANDEZ,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),GUATEMALA NORTE
1,00-01-0173-46,01-301,CIUDAD CAPITAL,ZONA 1,INSTITUTO NORMAL PARA SE√ëORITAS CENTRO AMERICA,1A CALLE 2-64,22323424,LUCRECIA MARISOL CERME√ëO GONZ√ÅLEZ,INGRID MARIELA ESPINA ORELLANA,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),GUATEMALA NORTE
2,00-01-0174-46,01-307,CIUDAD CAPITAL,ZONA 1,ESCUELA NACIONAL CENTRAL DE FORMACION SECRETARIAL,12 AVENIDA 9-27,22322985,NORMA ARACELY PALOMO FRANCO DE DIAZ,FRANCISCO REN√â CONTRERAS AQUINO,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),GUATEMALA NORTE
3,00-01-0176-46,01-301,CIUDAD CAPITAL,ZONA 1,INSTITUTO NACIONAL DE BACHILLERATO EN COMPUTACION,3A CALLE 15-45,22202223,LUCRECIA MARISOL CERME√ëO GONZ√ÅLEZ,FREDY HUMBERTO GONZ√ÅLEZ SANTISTEBAN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,VESPERTINA,DIARIO(REGULAR),GUATEMALA NORTE
4,00-01-0178-46,01-403,CIUDAD CAPITAL,ZONA 1,ESCUELA NACIONAL CENTRAL DE CIENCIAS COMERCIALES,10A. AVENIDA 9-42,22320914,CARLOS HUMBERTO GONZ√ÅLEZ DE LE√ìN,ESWIN NOE ROSALES L√ìPEZ,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,NOCTURNA,DIARIO(REGULAR),GUATEMALA NORTE

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           6599 non-null   object
 1   DISTRITO         6599 non-null   object
 2   DEPARTAMENTO     6599 non-null   object
 3   MUNICIPIO        6599 non-null   object
 4   ESTABLECIMIENTO  6599 non-null   object
 5   DIRECCION        6597 non-null   object
 6   TELEFONO         6553 non-null   object
 7   SUPERVISOR       6599 non-null   object
 8   DIRECTOR         6573 non-null   object
 9   NIVEL            6599 non-null   object
 10  SECTOR           6599 non-null   object
 11  AREA             6599 non-null   object
 12  STATUS           6599 non-null   object
 13  MODALIDAD        6599 non-null   object
 14  JORNADA          6599 non-null   object
 15  PLAN             6599 non-null   object
 16  DEPARTAMENTAL    6599 non-null   object
dtypes: object(17)
memory usage: 876.6+ KB

In [7]:
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

Filas: 6599, Columnas: 17

In [8]:
missing = df.isnull().sum().to_frame(name='missing_count')
missing['missing_percent'] = (missing['missing_count'] / len(df)) * 100
missing.sort_values(by='missing_percent', ascending=False)

                 missing_count  missing_percent
TELEFONO                    46         0.697075
DIRECTOR                    26         0.393999
DIRECCION                    2         0.030308
CODIGO                       0         0.000000
DISTRITO                     0         0.000000
ESTABLECIMIENTO              0         0.000000
MUNICIPIO                    0         0.000000
DEPARTAMENTO                 0         0.000000
SUPERVISOR                   0         0.000000
NIVEL                        0         0.000000
SECTOR                       0         0.000000
AREA                         0         0.000000
STATUS                       0         0.000000
MODALIDAD                    0         0.000000
JORNADA                      0         0.000000
PLAN                         0         0.000000
DEPARTAMENTAL                0         0.000000

### Revisi√≥n de columna Tel√©fono

In [15]:
print("Ejemplos de TELEFONO:")
print(df['TELEFONO'].dropna().unique()[:10])

# Ver cu√°ntos valores tienen caracteres no num√©ricos
telefonos_problematicos = df['TELEFONO'] = df['TELEFONO'].astype(str) 
df['TELEFONO_non_numeric'] = df['TELEFONO'].str.contains(r'\D', regex=True)

print("\nTotal con caracteres no num√©ricos (guiones, espacios, puntos, etc.):")
print(df['TELEFONO_non_numeric'].sum())

# Ver ejemplos con problemas
print("\nEjemplos con caracteres no num√©ricos:")
print(df[df['TELEFONO_non_numeric']]['TELEFONO'].unique())

Ejemplos de TELEFONO:
['22512759' '22323424' '22322985' '22202223' '22320914' '58068368'
 '42201837' '22384684' '22329406' '22325522']

Total con caracteres no num√©ricos (guiones, espacios, puntos, etc.):
83

Ejemplos con caracteres no num√©ricos:
['nan' '24342036-24123888' '24314989-24310955' '66355887-66312603'
 '52660000-78323083' '79649696-78739432' '78739432-79649696'
 '78392709-78396701-78396702' '78880429-78880419' '56769964-77663283'
 '56769964-7766328' '77663283-77663283' '77375333-42470723' '4.21039E+15'
 '4.2811E+15' '79540830-79540909' '79504027-79504028' '31193946-46843572'
 '79484391-41051885' '45261770-46007362' '79480085-50307050'
 '79524680-79524680' '53886336-53886336' '79497500-78209540'
 '31089418-53230377' '42601313-79476691' '53660792-55969273'
 '79477890-79477891' '79224958-79223033']

In [17]:
# Ver qu√© caracteres no num√©ricos aparecen en esos tel√©fonos

problematicos = df[df['TELEFONO_non_numeric']]['TELEFONO'].dropna().astype(str)

# Extraer los caracteres no num√©ricos de todos los tel√©fonos
no_digit_chars = ''.join(re.findall(r'\D', ''.join(problematicos)))

# Contar cu√°les son m√°s comunes
Counter(no_digit_chars)

Counter({'n': 92, 'a': 46, '-': 35, '.': 3, 'E': 3, '+': 3})

In [18]:
telefonos_solo_digitos = df['TELEFONO'].astype(str).str.replace(r'\D+', '', regex=True)

longitudes = telefonos_solo_digitos.str.len()

conteo_por_longitud = longitudes.value_counts().sort_index()

print("Distribuci√≥n por cantidad de d√≠gitos en TELEFONO:")
print(conteo_por_longitud)

Distribuci√≥n por cantidad de d√≠gitos en TELEFONO:
TELEFONO
0       46
1        1
2        1
4        1
6        3
7       18
8     6495
15       1
16      32
24       1
Name: count, dtype: int64

In [ ]:
ejemplos_dobles = df[telefonos_solo_digitos.str.len() > 8]['TELEFONO'].unique()

for tel in ejemplos_dobles:
    print(tel)

24342036-24123888
24314989-24310955
66355887-66312603
52660000-78323083
79649696-78739432
78739432-79649696
78392709-78396701-78396702
78880429-78880419
56769964-77663283
56769964-7766328
77663283-77663283
77375333-42470723
79540830-79540909
79504027-79504028
31193946-46843572
79484391-41051885
45261770-46007362
79480085-50307050
79524680-79524680
53886336-53886336
79497500-78209540
31089418-53230377
42601313-79476691
53660792-55969273
79477890-79477891
79224958-79223033

In [13]:
ejemplos_dobles = df[telefonos_solo_digitos.str.len() < 8]['TELEFONO'].unique()

for tel in ejemplos_dobles:
    print(tel)

2232068
2223228
2232379
5899624
nan
2437011
5510735
5364736
40
4215928
3033
783928
4225675
4140069
5899378
4.2811E+15
574479
0
4085613
533290
4167076
3127247
5388633
7844007

### Revisi√≥n de columna Director

In [21]:
# Ver cantidad de valores √∫nicos y nulos
print("Cantidad total de filas:", len(df))
print("Valores √∫nicos en 'DIRECTOR':", df['DIRECTOR'].nunique())
print("Valores nulos en 'DIRECTOR':", df['DIRECTOR'].isnull().sum())

Cantidad total de filas: 6599
Valores √∫nicos en 'DIRECTOR': 3863
Valores nulos en 'DIRECTOR': 26

In [22]:
# Ver valores m√°s repetidos (top 10)
print("\nTop 10 nombres m√°s frecuentes:")
print(df['DIRECTOR'].value_counts(dropna=False).head(10))

Top 10 nombres m√°s frecuentes:
DIRECTOR
NaN                                 26
MAR√çA DOLORES P√âREZ TUCH√ÅN          10
H√âCTOR REYNALDO G√ìMEZ AGUILAR        9
SILVIA MARLENI ALVARADO GUARDADO     8
MELVIN RAFAEL REYES L√ìPEZ            8
RONI ERNESTO RECINOS ESTRADA         8
SONIA JOSEFINA MORALES CAXAJ         8
GERSON ARELY PUZ SAL                 7
MARCO TULIO VARGAS ALVARADO          7
JHONATAN EDUARDO SAC CAYAX           7
Name: count, dtype: int64

In [23]:
# Ver ejemplos √∫nicos (sin repetir)
print("\nAlgunos ejemplos √∫nicos:")
print(df['DIRECTOR'].dropna().unique()[:10])

Algunos ejemplos √∫nicos:
['IRMA AMPARO TOLEDO HERNANDEZ' 'INGRID MARIELA ESPINA ORELLANA'
 'FRANCISCO REN√â CONTRERAS AQUINO' 'FREDY HUMBERTO GONZ√ÅLEZ SANTISTEBAN'
 'ESWIN NOE ROSALES L√ìPEZ' 'JULIO CESAR SANTOS CAMPOS'
 'JULIO ERNESTO GONZ√ÅLEZ HERN√ÅNDEZ' 'SILVIA LETICIA PER√âN POY√ìN'
 'ELUBIA ANAYTE SIGUENZA MONTERROSO' 'NANCY ALEIDA BANCES AR√âVALO']

In [24]:
# Ver longitudes de los nombres
print("\nDistribuci√≥n de longitud de los nombres:")
print(df['DIRECTOR'].dropna().str.len().value_counts().sort_index())

Distribuci√≥n de longitud de los nombres:
DIRECTOR
1       1
2       2
3       6
4       3
5       2
7       1
8       5
10      1
12      1
13      9
14     11
15     22
16     30
17     47
18     86
19     83
20    122
21    134
22    189
23    267
24    356
25    489
26    600
27    765
28    751
29    660
30    586
31    465
32    309
33    226
34    146
35     65
36     46
37     19
38     24
39     18
40      8
41      8
42      5
43      2
44      1
49      1
51      1
Name: count, dtype: int64

In [37]:
# Asegurar que todo sea string
df['DIRECTOR'] = df['DIRECTOR'].astype(str)

# Ver nombres muy cortos (< 10 caracteres)
print("üìè Nombres muy cortos (<10 caracteres):")
nombres_cortos = df[df['DIRECTOR'].str.len() < 6]['DIRECTOR'].unique()
print(f"Total: {len(nombres_cortos)}")
print(nombres_cortos)  

# Ver nombres muy largos (> 40 caracteres)
print("\nüìè Nombres muy largos (>40 caracteres):")
nombres_largos = df[df['DIRECTOR'].str.len() > 40]['DIRECTOR'].unique()
print(f"Total: {len(nombres_largos)}")
print(nombres_largos)

üìè Nombres muy cortos (<10 caracteres):
Total: 6
['---' 'nan' '----' '-----' 'X' '--']

üìè Nombres muy largos (>40 caracteres):
Total: 17
['EVA ANGELINA RAMIREZ IXCAMPARIJ DE RAM√çREZ'
 'SONIA LETICIA MACHUCA RODR√çGUEZ DE PARDUCCI'
 'MARGOTH LETICIA ESTURBAN HERRARTE DE LOPEZ'
 'BETTY CONSUELO GARCIA BERNAL DE CASTA√ëEDA'
 'INGRID JOHANA PANIAGUA MARIN DE FERNANDEZ'
 'ANDREA VANESSA ALDANA VILLAGRAN DE CASTRO'
 'DORA AMANDA MART√çNEZ ESTRADA DE SAQUILMER'
 'MARINA DE LOS ANGELES HERN√ÅNDEZ G√ìMEZ DE BARRIENTOS'
 'KRISZTYN HELKIA SABRINA MORALES BERREONDO'
 'BELMA JEANNETH SECAIDA CONTRERAS DE MAY√âN'
 'LILIAN ARGENTINA PANIAGUA AJ√çN DE CASTILLO'
 'JESSICA JEANNETTE SAGASTUME HICKS DE TZORIN.'
 'CLAUDIA MARLENI EL√çAS COJULUN DE CIFUENTES'
 'THELMA ASUCENA MENDOZA MENDOZA DE CARRILLO'
 'THELMA KARINA QUI√ë√ìNEZ RODAS DE RODR√çGUEZ'
 'MAJIB JHESSIEL YAZDIE WADY JOZ LANDAVERRY VASQUEZ'
 'MAR√çA VICTORIA GER√ìNIMO ESCALANTE DE M√âNDEZ']

In [ ]:
# Revisar inconsistencias: may√∫sculas/min√∫sculas
print("\nInconsistencias de capitalizaci√≥n:")
df['DIRECTOR_lower'] = df['DIRECTOR'].str.lower().str.strip()
capitalization_conflicts = df.groupby('DIRECTOR_lower')['DIRECTOR'].nunique()
multi_format_names = capitalization_conflicts[capitalization_conflicts > 1]
print(f"Total nombres con distintas capitalizaciones: {len(multi_format_names)}")
print(multi_format_names.head(10))

Inconsistencias de capitalizaci√≥n:
Total nombres con distintas capitalizaciones: 0
Series([], Name: DIRECTOR, dtype: int64)

In [35]:
# Revisar tildes vs sin tildes
def remove_accents(text):
    return ''.join(c for c in unicodedata.normalize('NFD', text)
                   if unicodedata.category(c) != 'Mn')

df['DIRECTOR_normalized'] = df['DIRECTOR'].str.upper().str.strip().apply(remove_accents)

accent_conflicts = df.groupby('DIRECTOR_normalized')['DIRECTOR'].nunique()
accent_variants = accent_conflicts[accent_conflicts > 1]

print("\nNombres que aparecen con y sin tildes (o variantes acentuadas):")
print(f"Total con variantes acentuadas: {len(accent_variants)}")
print(accent_variants)

Nombres que aparecen con y sin tildes (o variantes acentuadas):
Total con variantes acentuadas: 37
DIRECTOR_normalized
ANAHI DEL PILAR HERNANDEZ CHOCHOM         3
ANGEL FELIPE LARIOS MELENDEZ              2
ANGELICA DEL ROSARIO PATZAN QUISQUE       2
BLANCA ROSA HERNANDEZ LOPEZ               2
CARLA ELIZABETH MONTERROSO GOMEZ          2
CESAR FERNANDO ESCOBAR ZEPEDA             2
CLAUDIA PATRICIA DAVILA RAMIREZ           2
DALIDA ANAYANZA HERNANDEZ RAMIREZ         2
DARWIN ENRIQUE ALVAREZ MORAN              2
DIEGO DANIEL DIAZ                         2
ELIAS ISRAEL LOPEZ MIRANDA                2
EMMA ETELVINA ORELLANA RAMIREZ            2
FRANCISCO REVOLORIO LOPEZ                 2
GERALD PETER SCHAEFFER GARCIA             2
HECTOR ENRIQUE ZUNIGA ORELLANA            2
HERLINDO ARTIGA MARROQUIN                 2
ISABEL CRISTINA BALCAZAR VASQUEZ          2
JOSE ANTONIO MARTINEZ ORDONEZ             2
JOSE DOMINGO PEREZ MESIAS                 2
JOSUE ESTRADA Y ESTRADA                   2
JUAN CARLOS MONZON LUTIN                  2
JULIO ROLANDO BARRIENTOS MONZON           2
KARLA YAMILETH NAJERA ARIAS               2
LUZ MARIA SEGURA SAENZ                    2
MARIA DEL CARMEN URIZAR CATALAN           2
MARIA SALOME HUINAC XILOJ                 2
MARIA TERESA BARTOLON MALDONADO           2
MARIA VERONICA AUYON OCAMPO DE GALICIA    3
MARILYN TATIANA SALGUERO ROLDAN           2
MIGUEL ANGEL PISQUIY QUIXTAN              2
NOE ISAIAS GALINDO HERNANDEZ              2
ROMUALDO PERFECTO SANTIAGO RAMIREZ        2
ROSA DELIA MORALES BALCARCEL              2
ROSSMERY RAMIREZ DE LA ROSA               2
SILVIA LUCIA JEREZ RUANO                  2
SILVIA RODRIGUEZ CAYAX                    2
YENIFFER ANALY MAKEPEACE RUIZ             2
Name: DIRECTOR, dtype: int64

### An√°lisis variable direcci√≥n

In [38]:
# Aseguramos que sea texto
df['DIRECCION'] = df['DIRECCION'].astype(str)

# Nulos y √∫nicos
print("Estado general:")
print(f"Total de filas: {len(df)}")
print(f"Nulos: {df['DIRECCION'].isnull().sum()}")
print(f"Valores √∫nicos: {df['DIRECCION'].nunique()}")

Estado general:
Total de filas: 6599
Nulos: 0
Valores √∫nicos: 4434

In [39]:
# Longitudes de las direcciones
print("\nDistribuci√≥n de longitud de caracteres:")
print(df['DIRECCION'].str.len().value_counts().sort_index().head(15))

Distribuci√≥n de longitud de caracteres:
DIRECCION
1       2
3       2
5       1
6      15
7       7
8       8
9      13
10     20
11     37
12     84
13    200
14    219
15    206
16    284
17    242
Name: count, dtype: int64

In [49]:
# Ver ejemplos muy cortos (< 10 caracteres)
print("\nDirecciones muy cortas:")
print(df[df['DIRECCION'].str.len() < 4]['DIRECCION'].unique())

Direcciones muy cortas:
['nan' '.']

In [41]:
# Buscar patrones comunes
print("\nPalabras comunes:")
palabras = df['DIRECCION'].str.upper().str.findall(r'\b\w+\b')
from collections import Counter
conteo_palabras = Counter()
for lista in palabras:
    conteo_palabras.update(lista)
for palabra, freq in conteo_palabras.most_common(10):
    print(f"{palabra}: {freq}")

Palabras comunes:
ZONA: 3049
CALLE: 2068
1: 1706
AVENIDA: 1628
BARRIO: 929
2: 928
ALDEA: 880
COLONIA: 797
3: 772
EL: 760

In [42]:
# Buscar s√≠mbolos raros
print("\n Caracteres no alfab√©ticos comunes:")
no_letras = ''.join(df['DIRECCION'].dropna().astype(str))
caracteres = Counter(re.findall(r'[^a-zA-Z0-9\s]', no_letras))
print(caracteres.most_common(10))

 Caracteres no alfab√©ticos comunes:
[('.', 3530), ('-', 3474), (',', 2189), ('"', 455), ('√ì', 364), ('√ç', 174), ('√Å', 154), ('√â', 143), ('√ë', 33), ('¬™', 23)]

### An√°lisis variable Establecimiento

In [50]:
# Asegurar que todo sea string
df['ESTABLECIMIENTO'] = df['ESTABLECIMIENTO'].astype(str)

# 1. Valores √∫nicos y nulos
print("Total de registros:", len(df))
print("Nulos:", df['ESTABLECIMIENTO'].isnull().sum())
print("Valores √∫nicos:", df['ESTABLECIMIENTO'].nunique())

Total de registros: 6599
Nulos: 0
Valores √∫nicos: 3786

In [51]:
# 2. Top 10 establecimientos m√°s repetidos
print("\nTop 10 nombres m√°s frecuentes:")
print(df['ESTABLECIMIENTO'].value_counts().head(10))

Top 10 nombres m√°s frecuentes:
ESTABLECIMIENTO
INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA                        286
INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA                        102
CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-                               32
INSTITUTO DE EDUCACION DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA     22
INSTITUTO DE EDUCACI√ìN DIVERSIFICADA POR COOPERATIVA DE ENSE√ëANZA     20
INSTITUTO DIVERSIFICADO POR COOPERATIVA                               20
ESCUELA NORMAL DE EDUCACION FISICA                                    18
INSTITUTO DIVERSIFICADO POR COOPERATIVA DE ENSE√ëANZA                  14
LICEO CANADIENSE SOCIEDAD ANONIMA                                     13
ESCUELA NACIONAL DE CIENCIAS COMERCIALES                              13
Name: count, dtype: int64

In [52]:
# 3. Longitudes del texto
print("\nDistribuci√≥n de longitud de los nombres:")
print(df['ESTABLECIMIENTO'].str.len().value_counts().sort_index().head(15))

Distribuci√≥n de longitud de los nombres:
ESTABLECIMIENTO
3      1
4      7
5      1
6      1
11     4
12    16
13    31
14    60
15    43
16    65
17    37
18    70
19    58
20    68
21    83
Name: count, dtype: int64

In [53]:
# 4. Ver algunos ejemplos √∫nicos
print("\nEjemplos de nombres:")
print(df['ESTABLECIMIENTO'].unique()[:10])

Ejemplos de nombres:
['COLEGIO TECNICO PROGRESISTA CETECPRO'
 'INSTITUTO NORMAL PARA SE√ëORITAS CENTRO AMERICA'
 'ESCUELA NACIONAL CENTRAL DE FORMACION SECRETARIAL'
 'INSTITUTO NACIONAL DE BACHILLERATO EN COMPUTACION'
 'ESCUELA NACIONAL CENTRAL DE CIENCIAS COMERCIALES'
 'ESCUELA NORMAL PARA MAESTROS DE EDUCACION MUSICAL JESUS MARIA ALVARADO'
 'ESCUELA NACIONAL DE ADMINISTRACION PUBLICA LIC. MANUEL GREGORIO LOPEZ SANTIAGO'
 "INSTITUTO NORMAL 'CASA CENTRAL'"
 'LICEO TECNOLOGICO GUATEMALA DE LA ASUNCI√ìN'
 'INSTITUTO MIXTO COACTEMALAN']

In [55]:
def normalizar_establecimiento(nombre):
    nombre = nombre.upper().strip()
    nombre = ''.join(c for c in unicodedata.normalize('NFD', nombre) if unicodedata.category(c) != 'Mn')  # sin tildes
    nombre = nombre.replace('"', '').replace('.', '').replace('  ', ' ')
    return nombre

df['ESTABLECIMIENTO_NORMALIZADO'] = df['ESTABLECIMIENTO'].apply(normalizar_establecimiento)

# Ver casos con m√°s de una variante
grupo = df.groupby('ESTABLECIMIENTO_NORMALIZADO')['ESTABLECIMIENTO'].nunique()
variantes = grupo[grupo > 1]

print("\nEstablecimientos con variantes por formato (may√∫sculas/tildes):")
print(variantes)

Establecimientos con variantes por formato (may√∫sculas/tildes):
ESTABLECIMIENTO_NORMALIZADO
ACADEMIA COMERCIAL E INSTITUTO LOURDES                 2
CENTRO DE APRENDIZAJE BILINGUE NO 1                    2
CENTRO DE DESARROLLO EDUCATIVO SAN JOSE                2
CENTRO DE EDUCACION CREATIVA TOSCANA                   2
CENTRO DE EDUCACION EXTRAESCOLAR -CEEX-                2
                                                      ..
LICEO TECNOLOGICO MAYA DE GUATEMALA                    2
PROGRAMA NACIONAL DE EDUCACION ALTERNATIVA -PRONEA-    2
PROGRAMA NACIONAL DE EDUCACION ALTERNATIVA, PRONEA     3
TECNOLOGICO MODERNO CENTRO EDUCACIONAL                 2
TECNOLOGICO PREUNIVERSITARIO                           2
Name: ESTABLECIMIENTO, Length: 510, dtype: int64

In [58]:
# Nombres con menos de 6 caracteres
cortos = df[df['ESTABLECIMIENTO'].str.len() < 7]['ESTABLECIMIENTO'].unique()
print("Nombres con menos de 6 caracteres:")
print(f"Total: {len(cortos)}")
print(cortos[:10])  # muestra los primeros 10

Nombres con menos de 6 caracteres:
Total: 4
['#NAME?' 'INED' 'ICA' 'IMEBI']

In [62]:
print("\nPosibles inconsistencias sem√°nticas (abreviaciones):")

# Lista de abreviaciones a buscar (las verdaderas, como palabra completa)
abreviaciones = ['COL.', 'INST.', 'ESCU.', 'B√ÅS.', 'PRIV.', 'NAC.', 'MIX.', 'PROF.', 'INED']

# Usamos expresiones regulares con delimitadores de palabra \b
conteo_abreviaciones = Counter()
ejemplos_abreviaciones = {}

for abrev in abreviaciones:
    patron = rf'\b{re.escape(abrev)}\b'
    encontrados = df[df['ESTABLECIMIENTO'].str.upper().str.contains(patron, na=False, regex=True)]
    conteo_abreviaciones[abrev] = len(encontrados)
    ejemplos_abreviaciones[abrev] = encontrados['ESTABLECIMIENTO'].unique()[:5]

# Mostrar resultados
print("Abreviaciones exactas encontradas:")
for abrev, count in conteo_abreviaciones.items():
    print(f"{abrev}: {count} apariciones")

Posibles inconsistencias sem√°nticas (abreviaciones):
Abreviaciones exactas encontradas:
COL.: 0 apariciones
INST.: 0 apariciones
ESCU.: 0 apariciones
B√ÅS.: 0 apariciones
PRIV.: 0 apariciones
NAC.: 0 apariciones
MIX.: 0 apariciones
PROF.: 0 apariciones
INED: 41 apariciones

In [65]:
# Mostrar ejemplos por abreviaci√≥n
for abrev, ejemplos in ejemplos_abreviaciones.items():
    print(f"\nEjemplos con '{abrev}':")
    for ejemplo in ejemplos:
        print(f"- {ejemplo}")

Ejemplos con 'COL.':

Ejemplos con 'INST.':

Ejemplos con 'ESCU.':

Ejemplos con 'B√ÅS.':

Ejemplos con 'PRIV.':

Ejemplos con 'NAC.':

Ejemplos con 'MIX.':

Ejemplos con 'PROF.':

Ejemplos con 'INED':
- INED M. A. HERMENEGILDO DE JES√öS PEREIRA DEL CID
- INED METROPOLITANO DEL SUR
- INED ULEW KOTZ'I'J (TIERRA DE LAS FLORES)
- INED INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA
- INSTITUTO NACIONAL DE EDUCACI√ìN DIVERSIFICADA -INED-

In [ ]:
def normalizar_nombre(nombre):
    if pd.isna(nombre): return ''
    nombre = nombre.upper().strip()
    nombre = unicodedata.normalize('NFD', nombre)
    nombre = ''.join(c for c in nombre if unicodedata.category(c) != 'Mn')  
    nombre = re.sub(r'["\(\)\-]', '', nombre)  
    nombre = re.sub(r'\s+', ' ', nombre)       
    nombre = nombre.replace('.', '')           
    return nombre.strip()

# Aplicar normalizaci√≥n
df['ESTABLECIMIENTO_NORMALIZADO'] = df['ESTABLECIMIENTO'].apply(normalizar_nombre)

In [ ]:
agrupados = df.groupby('ESTABLECIMIENTO_NORMALIZADO')['ESTABLECIMIENTO'].nunique()
duplicados_ocultos = agrupados[agrupados > 1]

print(f"Nombres distintos que se vuelven iguales tras normalizar: {len(duplicados_ocultos)}")

# Ver algunos ejemplos
for nombre_norm in duplicados_ocultos.head(10).index:
    variantes = df[df['ESTABLECIMIENTO_NORMALIZADO'] == nombre_norm]['ESTABLECIMIENTO'].unique()
    print(f"\nVariantes del establecimiento '{nombre_norm}':")
    for v in variantes:
        print(f"- {v}")

Nombres distintos que se vuelven iguales tras normalizar: 530

Variantes del establecimiento 'ACADEMIA COMERCIAL E INSTITUTO LOURDES':
- ACADEMIA COMERCIAL E INSTITUTO LOURDES
- ACADEMIA COMERCIAL E INSTITUTO "LOURDES"

Variantes del establecimiento 'CENTRO DE APRENDIZAJE BILINGUE NO 1':
- CENTRO DE APRENDIZAJE BILING√úE NO. 1
- CENTRO DE APRENDIZAJE BILINGUE NO. 1

Variantes del establecimiento 'CENTRO DE DESARROLLO EDUCATIVO SAN JOSE':
- CENTRO DE DESARROLLO EDUCATIVO SAN "JOS√â"
- CENTRO DE DESARROLLO EDUCATIVO SAN JOSE

Variantes del establecimiento 'CENTRO DE EDUCACION CREATIVA TOSCANA':
- CENTRO DE EDUCACION CREATIVA TOSCANA
- CENTRO DE EDUCACI√ìN CREATIVA TOSCANA

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR CEEX':
- CENTRO DE EDUCACION EXTRAESCOLAR -CEEX-
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR - CEEX
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR CEEX
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR CEEX DEPARTAMENTAL':
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX - DEPARTAMENTAL
- "CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX- DEPARTAMENTAL"
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX- DEPARTAMENTAL
- CENTRO DE EDUCACION EXTRAESCOLAR -CEEX- DEPARTAMENTAL
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR CEEX DEPARTAMENTAL

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR CEEX MUNICIPAL':
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR CEEX MUNICIPAL
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX- MUNICIPAL

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR CEEX QUETZALTENANGO':
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX QUETZALTENANGO
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX- QUETZALTENANGO

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR CEEXDEPARTAMENTAL':
- "CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-DEPARTAMENTAL"
- CENTRO DE EDUCACION EXTRAESCOLAR -CEEX-DEPARTAMENTAL
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR -CEEX-DEPARTAMENTAL

Variantes del establecimiento 'CENTRO DE EDUCACION EXTRAESCOLAR ESCUELA DE CAFICULTURA':
- CENTRO DE EDUCACI√ìN EXTRAESCOLAR "ESCUELA DE CAFICULTURA"
- CENTRO DE EDUCACION EXTRAESCOLAR "ESCUELA DE CAFICULTURA"

### An√°lisis variable supervisor

In [69]:
# Asegurar que sea string
df['SUPERVISOR'] = df['SUPERVISOR'].astype(str)

# Estado general
print("Estado general:")
print(f"Total de registros: {len(df)}")
print(f"Nulos (NaN o vac√≠os): {(df['SUPERVISOR'] == 'nan').sum()}")
print(f"Valores √∫nicos: {df['SUPERVISOR'].nunique()}")

Estado general:
Total de registros: 6599
Nulos (NaN o vac√≠os): 0
Valores √∫nicos: 599

In [70]:
# Top supervisores m√°s frecuentes
print("\nTop 10 nombres m√°s frecuentes:")
print(df['SUPERVISOR'].value_counts().head(10))

Top 10 nombres m√°s frecuentes:
SUPERVISOR
MIGUEL ANGEL ARMAS ROCHA                          190
CARLOS HUMBERTO GONZ√ÅLEZ DE LE√ìN                  160
JUAN ENRIQUE MARTINEZ SOLANO                      106
REMY ARTURO SINAY GUDIEL                           94
ELSA YADIRA MARTINEZ PEREZ                         84
IDALIA DEL ROSARIO LOPEZ SANDOVAL DE PAIZ          81
MILTON ALONSO ALVAREZ FUENTES                      81
ELENA ELIZABETH SUCHITE GARNICA DE QUINTANILLA     78
LUDVIN RICARDO URRUTIA LORENTI                     77
JUAN FRANCISCO GODOY DAVILA                        74
Name: count, dtype: int64

In [72]:
# Longitud de los nombres
longitudes = df['SUPERVISOR'].str.len()
print("\nüìè Distribuci√≥n de longitud")
print(longitudes.value_counts().sort_index())

üìè Distribuci√≥n de longitud
SUPERVISOR
14     32
15     17
16     18
17     57
18    126
19    131
20    143
21    115
22    109
23    182
24    532
25    387
26    621
27    492
28    536
29    740
30    546
31    326
32    408
33    145
34     69
35    149
36     73
37     56
38     58
39    111
40     16
41    123
42     87
43     15
44     24
45      8
46     88
47     29
50     30
Name: count, dtype: int64

In [75]:
# 5. Ejemplos √∫nicos
print("\nEjemplos √∫nicos:")
print(df['SUPERVISOR'].unique()[:10])

Ejemplos √∫nicos:
['AMADO SALOMON FLORES PEREZ' 'LUCRECIA MARISOL CERME√ëO GONZ√ÅLEZ'
 'NORMA ARACELY PALOMO FRANCO DE DIAZ' 'CARLOS HUMBERTO GONZ√ÅLEZ DE LE√ìN'
 'AURA MARINA GARRIDO MORALES' 'LESLIE AZUCENA MONZON TECUN'
 'MARIANO DOMINGO ESTRADA TELETOR' 'ZUHILEM YESENIA ESTRADA ORTIZ'
 'SILVIA EUGENIA VALDEZ MONTERROSO DE CARBALLO'
 'IXMUCANE ALDANA VILLAVICENCIO']

In [78]:
def normalizar_nombre(nombre):
    nombre = nombre.upper().strip()
    nombre = unicodedata.normalize('NFD', nombre)
    nombre = ''.join(c for c in nombre if unicodedata.category(c) != 'Mn')  # sin tildes
    nombre = re.sub(r'[\"\'\-\.]', '', nombre)
    nombre = re.sub(r'\s+', ' ', nombre)
    return nombre.strip()

df['SUPERVISOR_NORMALIZADO'] = df['SUPERVISOR'].apply(normalizar_nombre)

agrupados = df.groupby('SUPERVISOR_NORMALIZADO')['SUPERVISOR'].nunique()
duplicados = agrupados[agrupados > 1]

print(f"\nSupervisores con variantes por formato: {len(duplicados)}")

for nombre_norm in duplicados.head(10).index:
    variantes = df[df['SUPERVISOR_NORMALIZADO'] == nombre_norm]['SUPERVISOR'].unique()
    print(f"\nVariantes de '{nombre_norm}':")
    for v in variantes:
        print(f"- {v}")

Supervisores con variantes por formato: 8

Variantes de 'AUGUSTO MANUEL ANDRES SEBASTIAN':
- AUGUSTO MANUEL ANDR√âS SEBASTI√ÅN
- AUGUSTO MANUEL ANDRES SEBASTIAN

Variantes de 'CARLOS HUMBERTO GONZALEZ DE LEON':
- CARLOS HUMBERTO GONZ√ÅLEZ DE LE√ìN
- CARLOS HUMBERTO GONZALEZ DE LEON

Variantes de 'FIDEL OMAR HERNANDEZ RAMIREZ':
- FIDEL OMAR HERN√ÅNDEZ RAM√çREZ
- FIDEL OMAR HERNANDEZ RAMIREZ

Variantes de 'JOSE DE JESUS CAMPOSECO MENDOZA':
- JOS√â DE JES√öS CAMPOSECO M√âNDOZA
- JOS√â DE JES√öS CAMPOSECO MENDOZA

Variantes de 'JUAN CARLOS MORALES GONZALEZ':
- JUAN CARLOS MORALES GONZALEZ
- JUAN CARLOS MORALES GONZ√ÅLEZ

Variantes de 'JUAN JOSE TOBAR TEBALAN':
- JUAN JOSE TOBAR TEBALAN
- JUAN JOS√â TOBAR TEBALAN

Variantes de 'JULIO RENE NOTZ CUTZAL':
- JULIO REN√â NOTZ CUTZAL
- JULIO RENE NOTZ CUTZAL

Variantes de 'MIGUEL AJPOP VASQUEZ':
- MIGUEL AJPOP V√ÅSQUEZ
- MIGUEL AJPOP VASQUEZ

### An√°lisis de variables categ√≥ricas

In [79]:
# Lista de columnas categ√≥ricas que mencionaste
cat_cols = ['NIVEL', 'SECTOR', 'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL']

for col in cat_cols:
    print(f"\nAn√°lisis de columna: {col}")
    print("-" * 40)
    print(f"Valores √∫nicos (sin normalizar): {df[col].nunique()}")
    print("Valores m√°s comunes:")
    print(df[col].value_counts(dropna=False).head(10))
    
    # Valores √∫nicos ordenados alfab√©ticamente
    print("\nValores √∫nicos (ordenados):")
    print(sorted(df[col].dropna().unique()))
    
    # Nulos
    print(f"\nNulos: {df[col].isnull().sum()} (vac√≠os o NaN)")

An√°lisis de columna: NIVEL
----------------------------------------
Valores √∫nicos (sin normalizar): 1
Valores m√°s comunes:
NIVEL
DIVERSIFICADO    6599
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['DIVERSIFICADO']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: SECTOR
----------------------------------------
Valores √∫nicos (sin normalizar): 4
Valores m√°s comunes:
SECTOR
PRIVADO        5417
OFICIAL         874
COOPERATIVA     213
MUNICIPAL        95
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['COOPERATIVA', 'MUNICIPAL', 'OFICIAL', 'PRIVADO']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: AREA
----------------------------------------
Valores √∫nicos (sin normalizar): 3
Valores m√°s comunes:
AREA
URBANA             5249
RURAL              1349
SIN ESPECIFICAR       1
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['RURAL', 'SIN ESPECIFICAR', 'URBANA']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: STATUS
----------------------------------------
Valores √∫nicos (sin normalizar): 1
Valores m√°s comunes:
STATUS
ABIERTA    6599
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['ABIERTA']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: MODALIDAD
----------------------------------------
Valores √∫nicos (sin normalizar): 2
Valores m√°s comunes:
MODALIDAD
MONOLINGUE    6390
BILINGUE       209
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['BILINGUE', 'MONOLINGUE']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: JORNADA
----------------------------------------
Valores √∫nicos (sin normalizar): 6
Valores m√°s comunes:
JORNADA
DOBLE          1957
VESPERTINA     1836
MATUTINA       1686
SIN JORNADA    1001
NOCTURNA        106
INTERMEDIA       13
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['DOBLE', 'INTERMEDIA', 'MATUTINA', 'NOCTURNA', 'SIN JORNADA', 'VESPERTINA']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: PLAN
----------------------------------------
Valores √∫nicos (sin normalizar): 12
Valores m√°s comunes:
PLAN
DIARIO(REGULAR)                          4051
FIN DE SEMANA                            1310
SEMIPRESENCIAL (FIN DE SEMANA)            490
SEMIPRESENCIAL (UN D√çA A LA SEMANA)       409
A DISTANCIA                               116
SEMIPRESENCIAL                             99
SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)      62
VIRTUAL A DISTANCIA                        52
SABATINO                                    5
DOMINICAL                                   2
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['A DISTANCIA', 'DIARIO(REGULAR)', 'DOMINICAL', 'FIN DE SEMANA', 'INTERCALADO', 'MIXTO', 'SABATINO', 'SEMIPRESENCIAL', 'SEMIPRESENCIAL (DOS D√çAS A LA SEMANA)', 'SEMIPRESENCIAL (FIN DE SEMANA)', 'SEMIPRESENCIAL (UN D√çA A LA SEMANA)', 'VIRTUAL A DISTANCIA']

Nulos: 0 (vac√≠os o NaN)

An√°lisis de columna: DEPARTAMENTAL
----------------------------------------
Valores √∫nicos (sin normalizar): 26
Valores m√°s comunes:
DEPARTAMENTAL
GUATEMALA OCCIDENTE    551
GUATEMALA NORTE        544
GUATEMALA SUR          528
SAN MARCOS             432
ESCUINTLA              393
QUETZALTENANGO         365
CHIMALTENANGO          304
SUCHITEP√âQUEZ          296
JUTIAPA                296
HUEHUETENANGO          295
Name: count, dtype: int64

Valores √∫nicos (ordenados):
['ALTA VERAPAZ', 'BAJA VERAPAZ', 'CHIMALTENANGO', 'CHIQUIMULA', 'EL PROGRESO', 'ESCUINTLA', 'GUATEMALA NORTE', 'GUATEMALA OCCIDENTE', 'GUATEMALA ORIENTE', 'GUATEMALA SUR', 'HUEHUETENANGO', 'IZABAL', 'JALAPA', 'JUTIAPA', 'PET√âN', 'QUETZALTENANGO', 'QUICH√â', 'QUICH√â NORTE', 'RETALHULEU', 'SACATEP√âQUEZ', 'SAN MARCOS', 'SANTA ROSA', 'SOLOL√Å', 'SUCHITEP√âQUEZ', 'TOTONICAP√ÅN', 'ZACAPA']

Nulos: 0 (vac√≠os o NaN)